#preloader 
{
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../img/preloader3.gif') no-repeat center center;
}

body
{   
    background-color: #2f3336;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    color: #efefef;
    font-size: 17px; 
    margin: 0;
}

.scroll-fix::before{
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
}

.text-red
{
    color: #dc3545;
}

.info
{
	text-align: center;
	padding: 20px;
	background-color: #1c74b2;
}

.info a:link 
{
	text-decoration: none;
	color: #efefef;
}

.info a:link:hover
{
	font-size: 17.5px;
}

.lang a
{
    text-decoration: none;
    color: #dc3545;
}

.lang a:hover
{
    text-decoration: none;
    color: #ba1323;
}

.bluebutton
{
    padding: 15px;
    color: #efefef;
    font-size: 19px;
    text-decoration: none;
    min-width: 300px; 
    border: 1px solid #dc3545;
}

.bluebutton:hover
{
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #dc3545;
    
}

.kontakt p
{
    margin-bottom: 25px;
}

.kontakt
{
    margin-bottom: 50px;
}

h1.logo
{
    font-size: 44px;
    font-weight: 700;
    color: #dddddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

#topnav
{
    background-color: #1c74b2;
    text-align: center;
}

.menu
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 38px;
    line-height: 200%;
}

.menu >li
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
}

.menu >li:first-child
{
    border-left: 1px dashed #0a2b42;
}

.menu a
{
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover
{
    color: #0a2b42;
}

.bg-navbar
{
    background-color: #000000;
}

.navbar
{
	min-height: 57px;
}

.navbar a.navbar-brand span 
{
    font-size: 28px;
    font-weight: 800;
}

.navbar a.navbar-brand 
{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

@media (max-width: 575px) 
{
    .portfolio h1
    {
        font-size: 35px;
    }

    .git_link_nav
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.portfolio-title
{
    text-align: right;
}
    @media (min-width: 575px) 
    {
        .portfolio-title 
        {
        text-align: right;
        }
    }
    @media (max-width: 575px) 
    {
        .portfolio-title
        {
            text-align: center;
            margin-top: 50px;
        }
    }

.portfolio-title h1
{
    font-size: 50px;
    height: inherit;
    line-height: inherit;
    padding: 0 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.portfolio-title h1 span
{
    font-size: 65px;
}
    @media (max-width: 575px) 
    {
        .portfolio-title h1 span
        {
            font-size: 50px;
            letter-spacing: 1px;
        }
        .portfolio-title h1
        {
            font-size: 40px;
        } 
    }

.portfolio-title h2
{
    font-size: 35px;
}
    @media (max-width: 575px) 
    {
        .portfolio-title h2
        {
            font-size: 25px;
        } 
    }

.portfolio-title p
{
    font-size: 22px;
    line-height: 30px;
}
    @media (max-width: 575px) 
    {
        .portfolio-title p
        {
            font-size: 19px;
        } 
    }

.h2
{
    letter-spacing: 5px;
    font-size: 44px;
}

.bg-gray
{
    background-color: #1e2225;
}

.footer-contact a
{
    text-decoration: none;
    color: #ffffff;
}

.footer-contact a:hover
{
    color: #ffb820;
}

@media (min-width: 575px) 
{
   .footer-content 
   {
       text-align: left;
   }
}
@media (max-width: 575px) 
{
    .footer-content
    {
        text-align: center;
    }
    
}

.footer-icon a
{
    text-decoration: none;
    color: #ffffff;
}

.footer-icon a:hover
{
    color: #dc3545;
}

.kontakt h1
{
    letter-spacing: 2px;
}

.kontakt strong
{
    color: #ffb820;
}

.kontakt_about
{   
    text-align: justify;
    columns: 2 auto;
}
@media (max-width: 750px) 
{
   .kontakt_about
   {
       columns: 1 auto;
   }
}

.kontakt_link
{   text-align: center;
    text-transform: uppercase;
}

.prace
{
    text-align: center;
}

.prace img
{
    width: 100%;
	height: auto;
}

.git_link a
{
    text-decoration: none;
    color: #ffffff;
}

.git_link a:hover
{
    color: #dc3545;
}

.git_link_nav a
{
    text-decoration: none;
    color: #ffffff;
}

.git_link_nav a:hover
{
    color: #dc3545;
}

.about-logo
{
    margin-bottom: 20px;   
}

.about-logo img
{
    transition: all 0.6s ease-in-out;
    border: 2px solid #dc3545;
    border-radius: 2px;
}

.about-logo img:hover
{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.pasek-red
{   
    background-color: #dc3545;
    float: left;
    width: 25%;
    height: 10px;
    display: block;
}

.pasek-yellow
{
    background-color: #eba117;
    float: left;
    width: 25%;
    height: 10px;
    display: block;
}

.pasek-green
{
    background-color: #5bb878;
    float: left;
    width: 25%;
    height: 10px;
    display: block; 
}

.pasek-blue
{
    background-color: #1c74b2;
    float: left;
    width: 25%;
    height: 10px;
    display: block;
}

.knowledge
{
    background-color: #2f3336;  
}

.knowledge-logo img
{
    width: 65px;
    max-height: 65px;
    opacity: 0.6;

}
    @media (max-width: 750px) 
    {
        .knowledge-logo img
        {
            width: 60px;
            height: 60px;
            opacity: 1;
        }
    }

.knowledge-logo img:hover
{
    opacity: 1;
}
    @media (max-width: 750px) 
    {
        .knowledge-logo img:hover
        {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: scale(1.1);
        }
    }

.language-logo
{
    float: left;
    padding: 20px;
}
    @media (max-width: 750px) 
    {   
        .language-logo
        {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

.overlay-logo
{
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}


.overlay-logo .hov
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
    @media (max-width: 750px) 
    {
        .overlay-logo .hov
        {
            opacity: 1;
        }
    }

.overlay-logo:hover .hov
{
    opacity: 1;   
}

.overlay-logo:hover
{
    transform: scale(1.1);
}

html{
    scroll-behavior: smooth;
}

.bar1, .bar2, .bar3 
{
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.5s;
    border-radius: 5px;
}

.change .bar1 
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
.change .bar2 
{
    opacity: 0;
}
  
.change .bar3 
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}